.catalogo{
    overflow:scroll;
    height:420px;
}
.comparador{
    .verde{
        color:green;
    }
    .rojo{
        color:red;
    }
    .caption p{
        text-align: center;
    }
    .badge{
        float:right;
    }
    #cocheAComparar{
        height:330px;
    }
    img{
        height:150px;
        width:auto;
    }
}
