<p>
  Ejemplo de un Componente Padre <b>ConcesionarioComponent</b> e Hijo <b>CocheComponent</b>: Aprender a pasar parámetro de uno a otro con @input y @output</p>
<div class="col-xs-12 col-sm-3">
    <div class="catalogo panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Catálogo de coches</h3>
      </div>
      <div class="panel-body">
        <app-listado [stock]="stock" [coche1]="coche1" [coche2]="coche2" (eventoEmitir)="recibirCoche($event)"></app-listado>
      </div>
    </div>
</div>

<div class="col-xs-12 col-sm-9">
    <div class="comparador panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Comparador de coches</h3>
      </div>
      <div class="panel-body">
          <div class="col-xs-6" *ngIf="coche1.marca!='' && coche2.marca!=''">
              <div id="cocheAComparar" class="thumbnail" (click)="seleccionar($event)">
                  <img src="{{coche1.foto}}" alt="coche">
                  <div class="caption">
                    <p>Marca: {{ coche1.marca }}</p>
                    <p>Modelo: {{ coche1.modelo }}</p>
                    <p [ngClass]="coche1.puertas >= coche2.puertas  && coche2.marca!='' ? 'verde' : 'rojo'">Puertas: {{ coche1.puertas }}<span class="badge">{{  coche1.puertas-coche2.puertas }}</span> </p>
                    <p [ngClass]="coche1.caballos >= coche2.caballos && coche2.marca!='' ? 'verde' : 'rojo'">Caballos: {{ coche1.caballos }}<span class="badge">{{  coche1.caballos-coche2.caballos }}</span></p>
                    <p [ngClass]="coche1.consumo <= coche2.consumo && coche2.marca!='' ? 'verde' : 'rojo'">Consumo: {{ coche1.consumo }}<span class="badge">{{  coche1.consumo-coche2.consumo | round }}</span></p>
                  </div>
              </div>
          </div>
          <div class="col-xs-6" *ngIf="coche1.marca!='' && coche2.marca!=''">
              <div id="cocheAComparar" class="thumbnail" (click)="seleccionar($event)">
                  <img src="{{coche2.foto}}" alt="coche">
                  <div class="caption">
                    <p>Marca: {{ coche2.marca }}</p>
                    <p>Modelo: {{ coche2.modelo }}</p>
                    <p [ngClass]="coche2.puertas >= coche1.puertas ? 'verde' : 'rojo'">Puertas: {{ coche2.puertas }}<span class="badge">{{  coche2.puertas-coche1.puertas }}</span></p>
                    
                    <p [ngClass]="coche2.caballos >= coche1.caballos ? 'verde' : 'rojo'">Caballos: {{ coche2.caballos }} <span class="badge">{{  coche2.caballos-coche1.caballos }}</span></p>
                    <p [ngClass]="coche2.consumo <= coche1.consumo ? 'verde' : 'rojo'">Consumo: {{ coche2.consumo }} <span class="badge">{{  coche2.consumo-coche1.consumo | round}}</span></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
 
