<section id="propiedades">
  <h2>Propiedades </h2>
  <p>Componente para jugar con las <b>[propiedades]</b> en Angular, pagina38 del manual</p>
  <p [style.color]="color" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iusto dolores eaque laudantium molestias dolorum, corporis laborum, nobis, amet mollitia nulla consequatur. Voluptas, quasi! Adipisci fuga quia iusto est voluptatem?</p>
  <h2>Propiedad [hidden]</h2>
  <p [hidden]="!ocultar">Visible - podemos usar el operador de negación</p>
  <p [hidden]="ocultar">OCULTO - No se muestra mediante CSS <code> display: none</code></p>
  <h2>Propiedad [href]</h2>
  <a [href]="enlace"> API angular</a>
</section>
