.form-inline{
    label{
        width:20%;
    }
    input{
        width:79%;
        margin-bottom:20px;
    }
    #radio{
        width:auto;
    }
    
}
#imagenFormulario{
    height:150px;
    width:auto;
}