
.thumbnail{
    position: relative;
    p{
        font-size: 1em;
    }
    span.likes{
        float:right;
        margin-top: 5px;
    }
    span.cocinero{
        font-weight: 900;
    }
    #fotoGluten{
        position: absolute;
        top:5px;
        right:5px;
        width:50px;
        height: auto;
    }
    
}
.listaIngredientes{
    &:hover .ingredientes{
            background-color:green;
            color:white;
            cursor:pointer;
    }
    &:hover h4{
        background-color:green;
        color:white;
    
    }
    &:hover #numIngredientes{
        background-color:green;
        color:white;
        
    
    }
    .ingredientes{
        border-top: 1px solid grey;
        border-bottom:1px solid grey;
        
    }
    #numIngredientes{
        color:white;

        background-color: green;

    }
    h4{
        display:inline-block;
        text-align: center;
        padding:5px 0;
        font-size:1.2em;
        color:green;
        
    }
    .glyphicon{
        float:right;
        padding-top:15px;
        text-decoration: none;
    }
}