<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img id="fotoGluten" *ngIf="receta.isGlutenFree" src="../../assets/imgs/sinGluten.png" alt="gluten">
            <img id="fotoGluten" *ngIf="!receta.isGlutenFree" src="../../assets/imgs/conGluten.png" alt="gluten">
            <img src="{{receta.foto}}" alt="{{ receta.nombre }}">
            <div class="caption">
              <h3>{{ receta.nombre | uppercase }}</h3>
              <p>{{ receta.descripcion | slice:0:100 }}</p>
              <p>
                <span class="cocinero">{{receta.cocinero}}</span>
                <span class="label label-primary likes" (click)=sumarLike()>Likes {{ receta.likes }}</span>
              </p>
              <section class="listaIngredientes">
                <div (click)="cambiarShow()" class="ingredientes ">
                  <div id="numIngredientes" class="badge">{{numIngredientes}}</div> 
                  <h4 >Ingredientes</h4>
                  <span *ngIf="!show" href="" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  <span *ngIf="show" href="" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                </div>
                <div *ngIf="show" id="lista">
                  <ol>
                    <li *ngFor="let ingrediente of receta.ingredientes">{{ ingrediente }}</li>
                  </ol>
                </div>
              </section>
            </div>
          </div>
    </div>
  </div>
