#busqueda{
    text-align:left;
    padding:10px;
    #buscarTexto{
        margin-right:10%;
        border-radius:50px;
        text-align: center;
        width:400px;
    }
}
#panel-menu{
    margin-top:46px;
    .panel-body{
        padding:0px;
        height:425px;
        overflow:scroll;
    }
}
#menu{
    padding:0px;
    text-align: left;
        
    div{
        position: relative;   
        border:1px #337AFF solid;
        width:100%;
        color:#337AFF;
        font-size:1.2em;
        text-align: center;
        &:hover{
            background-color:#337AFF;
            color:white;
        }
    }
    .active{
        background-color:#337AFF;
        color:white;
    }
}
#gluten{
    position: absolute;
    top:0px;
    right:0px;
    img{
        width: 30px;
        height: 30px;
    }

}
#seleccionGluten{
    input{
        font-size:1.2em;
        margin-top:15px;
        margin-bottom:18px;
    }
}
#nombreReceta{
    font-weight: 900;
}
 